html {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

body {
    background: #1D1C1A;
    color: #5F9EA0;
    padding: 2em;
}

.title-bar {
    background: #5F9EA0;
    color: #4D2618;
    overflow: auto;
    width: 100%;
}

.nav-bar {
    background-color: #4D2618;
    position: fixed;
    overflow: auto;
    margin: 0em auto auto auto;
}
.nav-bar a {
    padding: 12px;
    color: blanchedalmond;
    text-decoration: none;
    font-size: 17px;
}

.help-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.help-body {
    background-color: #4D2618;
    color: blanchedalmond;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid blanchedalmond;
    width: 80%; /* Could be more or less, depending on screen size */
  }
.inventory-body {
    background-color: #4D2618;
    color: blanchedalmond;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid blanchedalmond;
    width: 80%; /* Could be more or less, depending on screen size */
  }
.inventory-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



.nav-bar a:hover {
    background-color: #5F9EA0;
}

.sticky {
    position: fixed;
    top: 0%;
}

#danger-display {
    background: #4D2618;
    font-size: 1em;
    color: bisque;
    padding: .25em;
    text-align: left;
    position: fixed;
}

h1 {
    font-size: 1em;
}
div {
    padding: 5px;
}

.cursor{
    font-size: 50px;
    background: black;
}

input {
    background-color: #1D1C1A;
    background-size: 50%;
    background-position: 20px 20px;
    background-repeat: no-repeat;
    color: coral;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
  }
svg.bi.bi-compass {
    transform: translateY(.5em);
}
span {
    color: coral;
}
input:focus {
    width: 30%;
}

#game-text > p {
    background:  linear-gradient(135deg, #4D2618, #1D1C1A 50%);
    width: 50%
}

#game-text > p2 > div {
    background:  linear-gradient(135deg, #5F9EA0, #1D1C1A 50%);
    width: 50%;
    color: black;
    font-weight: bolder;
}

#game-text > p3 > div {
    background:  linear-gradient(135deg, #C94211, #1D1C1A  70%);
    width: 60%;
    color: blanchedalmond;
}

#game-text > ul {
    background:  linear-gradient(135deg, #4D2618, #1D1C1A 50%);
    width: 50%;
    color: rgb(95, 158, 160);
}
